*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: cursive;
}
body{
    background-color: #222;
}
.Card{
    width: 80%;
    max-width: 600px;
    align-items: center;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
   margin: 100px auto 0;
    border-radius: 5px;
    padding: 20px 40px;
   text-align: center;
    padding-bottom: 40px;
}
.search{
    width: 50%;
    display: flex;
    width: 20px;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
    text-align: center;
    margin-right: 40px;
}
.search input[type="text"]{
    border: 0;
    outline: 0;
    border-radius: 5px;
    color: #222;
    background:white;
    font-size: larger;
}

   

.search input[type="submit"]{
    border: 0;
    outline: 0;
   background-color: #00feba;
   font-weight: 500;
   font-size: larger;
    margin-left: 20px;
    cursor: pointer;
}


.Weather Weather icon{
    width: 120px;
    margin-top: 30px;
}
.Weather h1{
    font-size: 60px;
    font-weight: 1000;
    padding: 20px;

}
.Weather h2{
    font-size: xx-large;
    font-weight: 5000;
    padding-bottom: 30px;
    margin-bottom: 20px;

}
.details{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right: 40px;
    margin-left: 40px;

}

